<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="exercise541" frontName="exercise541">
            <module name="Perficient_Training541" />
        </route>
    </router>
</config>